/* Empty. Add your own CSS if you like */

#nav {
  background-image: url("../img/nav_back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#nav-title {
  text-align: center;
  font-size: 100px;
  color: #283877;
  margin-bottom: 110px;
}

#nav .list {
  margin-bottom: 55px;
}

#nav .button-block {
  font-size: 25px;
  margin-bottom: 15px;
}

#nav .button-small {
  font-size: 25px;
}

.animate-if {
  background:white;
  border:1px solid black;
  padding:10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}