/* Empty. Add your own CSS if you like */

@font-face {
    font-family: Vermin;
    src: url("vermin-vibes-2-edm-xtc/Vermin Vibes 2 EDM XTC.otf") format("opentype");
}

#nav {
    background-color: black;
}

.nav-title {
    font-family: Vermin;
    text-align: center;
    font-size: 5em;
    margin-bottom: 20px;
}

.blue {
    color: #00a8db;
}

.gray {
    color: #787b8c;
}

.green {
    color: #97d9a1;
}

.pink {
    color: #fc9bcb;
}

.blueb {
    background-color: #00a8db;
}

.grayb {
    background-color: #787b8c;
}

.greenb {
    background-color: #97d9a1;
}

.pinkb {
    background-color: #fc9bcb;
}

.selected {
    border: 1px;
    border-color: white;
}

#nav .list {
    height: 250px;
    margin-bottom: 2em;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    line-height: 250px;
}

#log-list {
    padding-top: 50px;
}

#nav .item {
    border: 0;
    margin-bottom: 2em;
}

#nav input {
    text-align: center;
}

#spacer-wrapper {
    display: block;
    width: 100%;
    height: 275px;
    text-align: center;
    line-height: 275px;
    vertical-align: middle;
}

.spacer {
    display: block;
    width: 100%;
    height: 275px;
    text-align: center;
    vertical-align: middle;
}

input[type='text'] {
    font-family: Vermin;
    font-size: 2em;
    font-weight: bold;
    color: #555555;
    height: 50px;
    line-height: inherit;
}


/* Place Holder CSS */

::-webkit-input-placeholder {
    color: #787B8C;
    opacity: 0.5;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

:-moz-placeholder {
    color: #787B8C;
    opacity: 0.5;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

::-moz-placeholder {
    color: #787B8C;
    opacity: 0.5;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

:-ms-input-placeholder {
    color: #C1C1C1;
    opacity: 0.5;
    -ms-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}


/* Place Holder CSS for Focus */

:hover::-webkit-input-placeholder {
    opacity: 0.75;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

:hover:-moz-placeholder {
    opacity: 0.75;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

:hover::-moz-placeholder {
    opacity: 0.75;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

:hover:-ms-input-placeholder {
    opacity: 0.75;
    -ms-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}


/* Place Holder CSS for Focus */

:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

:focus:-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

:focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

:focus:-ms-input-placeholder {
    opacity: 0;
    -ms-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

#nav .item-input {
    background-color: transparent;
}

.outer-container {
    float: left;
    position: relative;
    left: 50%;
}

.inner-container {
    float: left;
    position: relative;
    left: -50%;
}

#nav .nav-buttons li {
    display: inline-block;
}

#nav .nav-buttons button {
    font-family: Vermin;
    font-size: 12px;
    display: inline-block;
    height: 75px;
    width: 75px;
    border-radius: 50px;
    border: 1px solid #000;
    margin-right: 5px;
    vertical-align: center;
}

.animate-if {
    padding: 10px;
}

.animate-if.ng-enter,
.animate-if.ng-leave {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity: 1;
}

.login-button {
    display: block;
    font-family: Vermin;
    font-size: 2em;
    font-weight: bold;
    color: #787B8C;
    height: 50px;
    line-height: inherit;
    background-color: transparent;
    border: 0;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

#launch {
    background-image: url("../img/launch.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
