<ion-view title="launch">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 87px;"></div>
        <button class="button button-stable button-clear button-block " ng-click="join()">Join</button>
        <div class="spacer" style="width: 300px; height: 87px;"></div>
        <button class="button button-stable button-clear button-block " ng-click="host()">Host</button>
        <div class="spacer" style="width: 300px; height: 87px;"></div>
        <button class="button button-stable button-clear button-block ">Invites</button>
    </ion-content>
</ion-view>