<ion-view title="nav" id="nav">
  <div id="nav-view">
    <ion-content padding="true" class="has-header">
      <div class="spacer" style="width: 300px; height: 10px;"></div>
      <h1 class="nav-title">
      <span class="blue">S</span><span class="gray">P</span><span class="green">H</span><span class="pink">E</span><span class="blue">R</span><span class="gray">O</span>
      </h1>
      <div ng-if="loaded">
        <!-- display if signed in -->
        <ul id="login-menu">
        <li>
        <button ng-if="loginStatus" class="login-button animate-if" ng-click="single()">SOLO</button>
        </li>
        <li>
        <button ng-if="loginStatus" class="login-button animate-if" ui-sref="profile.launch">MULTIPLAYER</button>
        </li>
        <li>
        <button ng-if="loginStatus" class="login-button animate-if">OPTIONS</button>
        </li>
        </ul>
        <!-- display if NOT signed in -->
        <form ng-if="logoutStatus" class="list animate-if">
          <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="$parent.username">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Password" ng-model="$parent.password">
          </label>
        </form>
        <!-- display if not logged in, selected lights up and controls form -->
        <div class="outer-container">
          <div class="inner-container">
            <ul class="nav-buttons">
              <li>
                <!-- will alt these with gray -->
                <button ng-if="logoutStatus" class="blueb" ng-class="" ng-click="login(username, password)">Play</button>
              </li>
              <li>
                <button ng-if="logoutStatus" class="greenb" ng-class="" ng-click="login(username, password)">Login</button>
              </li>
              <li>
                <button ng-if="logoutStatus" class="pinkb" ng-class="" ng-click="showPopup()">Sign Up</button>
              </li>
              <!--         <li class="pink">
        <button ng-if="logoutStatus" class="signup button button-stable button-clear button-small animate-if" ng-class="" ng-click="showPopup()">Sign Up</button>
        </li> -->
            </ul>
          </div>
        </div>
        <!-- display if signed in -->
        <div class="outer-container">
          <div class="inner-container">
            <ul class="nav-buttons">
              <li>
                <!-- will alt these with gray -->
                <button ng-if="loginStatus" class="blueb" ng-class="" ng-click="logout()">Logout</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ion-content>
  </div>
</ion-view>
